<h3>Start playing:</h3>
<a class="list-group-item clearfix" style="cursor: pointer;" routerLink="/solitaire">
  <div class="pull-left">
    <h3 class="list-group-item-heading">Singleplayer</h3>
    <p class="list-group-item-text">Put your gardening skills to the test in the solo variant of the game.</p>
  </div>
  <span class="pull-right">
    <img src="./../../../assets/icons/singleplayer-icon.png" alt="singleplayer" class="img-responsive">
  </span>
</a>

<a class="list-group-item clearfix disabled" style="cursor: not-allowed;">
  <div class="pull-left">
    <h3 class="list-group-item-heading">Multiplayer</h3>
    <p class="list-group-item-text">Standard variant of the game. (Coming soon!)</p>
  </div>
  <span class="pull-right">
    <img src="./../../../assets/icons/multiplayer-icon.png" alt="multiplayer" class="img-responsive">
  </span>
</a>
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
