<div class="content">
  <div class="backdrop" (click)="onClose()"></div>
  <div class="login-box">
    <div class="plant-img"></div>
    <div class="gradient-svg">
      <div class="login-form">
        <h1 class="login-form-header">{{ (isInRegisterMode ? "Auth.RegisterTitle" : "Auth.SignInTitle") | translate }}</h1>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
          <div class="login-input-container">
            <label for="email">{{ 'Auth.EmailLabel' | translate }}:</label>
            <br>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="{{ 'Auth.EmailPlaceholder' | translate }}"
              required
              email
              ngModel
              [disabled]="isLoading">
          </div>
          <div class="login-input-container" *ngIf="isInRegisterMode">
            <label for="name">{{ 'Auth.NameLabel' | translate }}:</label>
            <br>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="{{ 'Auth.NamePlaceholder' | translate }}"
              required
              ngModel
              [disabled]="isLoading">
          </div>
          <div class="login-input-container">
            <label for="password">{{ 'Auth.PasswordLabel' | translate }}:</label>
            <br>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="{{ 'Auth.PasswordPlaceholder' | translate }}"
              required
              minlength="6"
              ngModel
              [disabled]="isLoading">
              <br>
              <div class="login-link-right">
                <a class="login-link login-link-right" target="_blank" [routerLink]="['/recovery']">{{ 'Auth.ForgotPassword' | translate }}</a>
              </div>
          </div>
          <div>
            <button *ngIf="!isLoading" type="submit" [disabled]="!authForm.valid">{{ (isInRegisterMode ? 'Auth.RegisterButton' : 'Auth.LoginButton') | translate }}</button>
            <app-loading-dots *ngIf="isLoading"></app-loading-dots>
          </div>
          <div class="login-link-center">
            <a class="login-link" *ngIf="!isInRegisterMode" (click)="onToggleRegistration()">{{ 'Auth.CreateAccountSwitch' | translate }}</a>
            <a class="login-link" *ngIf="isInRegisterMode" (click)="onToggleRegistration()">{{ 'Auth.SignInSwitch' | translate }}</a>
          </div>
          <div *ngIf="error" class="error">
            <p>{{ getTranslation(error) }}</p>
          </div>
        </form>
          </div>
    </div>
    <p class="credit">Photo by Lisa Fotios from Pexels</p>
  </div>
</div>
