<header class="header">
  <div class="header-container">
    <span class="title">Herbaceous</span>
    <nav class="header-right">
      <ul class="header-right-list">
        <li class="no-hover">
          <div class="lang-selector">
            <span class="flag-gb"></span>
            <fa-icon [icon]="faCaretDown"></fa-icon>
          </div>
        </li>
        <li>
          <a href="#">Sign in / Sign up</a>
          <fa-icon [icon]="faSignInAlt" class="auth-icon"></fa-icon>
        </li>
      </ul>
    </nav>
  </div>
</header>
