<header class="header">
  <div class="header-container">
    <span class="title">Herbaceous</span>
    <nav class="header-right">
      <ul class="header-right-list">
        <li class="no-hover">
          <div class="lang-selector">
            <span class="flag-gb"></span>
            <fa-icon [icon]="faCaretDown"></fa-icon>
          </div>
        </li>
        <li *ngIf="!isAuthenticated" (click)="openLogin()">
          <a>Sign in / Sign up</a>
          <fa-icon [icon]="faSignInAlt" class="icon"></fa-icon>
        </li>
        <li *ngIf="isAuthenticated" routerLink="/hub" routerLinkActive="hidden">
          <a>Go to HUB</a>
          <fa-icon [icon]="faGamepad" class="icon"></fa-icon>
        </li>
        <li *ngIf="isAuthenticated" (click)="onLogout()">
          <a>Logout</a>
          <fa-icon [icon]="faSignOutAlt" class="icon"></fa-icon>
        </li>
      </ul>
    </nav>
  </div>
</header>
