<header class="header">
  <div class="header-container">
    <span class="title">Herbaceous</span>
    <nav class="header-right">
      <ul class="header-right-list">
        <li class="no-hover">
          <div class="lang-selector">
            <span class="flag flag-gb" (click)="changeLang('en')"></span>
            <p class="lang-separator">/</p>
            <span class="flag flag-pl" (click)="changeLang('pl')"></span>
          </div>
        </li>
        <li *ngIf="!isAuthenticated" (click)="openLogin()">
          <a>{{ 'Header.SignIn' | translate }}</a>
          <fa-icon [icon]="faSignInAlt" class="icon"></fa-icon>
        </li>
        <li *ngIf="isAuthenticated" routerLink="/hub" routerLinkActive="hidden">
          <a>{{ 'Header.GoToHub' | translate }}</a>
          <fa-icon [icon]="faGamepad" class="icon"></fa-icon>
        </li>
        <li *ngIf="isAuthenticated" (click)="onLogout()">
          <a>{{ 'Header.Logout' | translate }}</a>
          <fa-icon [icon]="faSignOutAlt" class="icon"></fa-icon>
        </li>
      </ul>
    </nav>
  </div>
</header>
