<!-- <div class="panel panel-default">
  <div class="panel-heading">
    Hello, {{ user.name }}!
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item">
        <p>placeholder</p>
      </div>
    </div>
  </div>
</div> -->

<div class="profile">
  <div class="big-header">
    <p>{{ 'HUB.Profile.Greeting' | translate }}, {{ user.name }}!</p>
  </div>
  <div class="stats">
    <table>
      <thead>
        <tr>
          <th colspan="2">{{ 'HUB.Profile.Summary' | translate | uppercase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'HUB.Profile.Stats.TopScore' | translate }}:</td>
          <td>{{ user.stats.topScore }}</td>
        </tr>
        <tr>
          <td>{{ 'HUB.Profile.Stats.GamesPlayed' | translate }}:</td>
          <td>{{ user.stats.gamesPlayed }}</td>
        </tr>
        <tr>
          <td>{{ 'HUB.Profile.Stats.HerbsLost' | translate }}:</td>
          <td>{{ user.stats.herbsLost }}</td>
        </tr>
        <tr>
          <td>{{ 'HUB.Profile.Stats.PerfectScores' | translate }}:</td>
          <td>{{ user.stats.perfectScores }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="hover-anim" (click)="onViewChart()">{{ 'HUB.Profile.ViewScoreChart' | translate }}</button>
</div>
