.card {
  height: 252px;
  width: 180px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.in-pot {
  width: 100px;
  height: 140px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.selected {
  outline: 3px solid rgb(0, 207, 41);
  outline-offset: -3px;
}

.cookie {
  height: 180px;
  width: 252px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
