.card-container {
  position: relative;
  box-sizing: border-box;
  width: 135px;
  height: 190px;
  overflow: hidden;
  border-radius: 5px;
}

.card-container-in-pot {
  width: 100px;
  height: 140px;
}

.card {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 5px;
}

.selected {
  -webkit-animation: selection-glow 1s ease-in-out infinite alternate;
  animation: selection-glow 1s ease-in-out infinite alternate;

  -moz-animation: selection-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes selection-glow {
  from {
    box-shadow: 0 0 5px #33A0AF, 0 0 5px #33A0AF, 0 0 10px #33A0AF, 0 0 10px #33A0AF, 0 0 20px #33A0AF, 0 0 20px #33A0AF, 0 0 30px #33A0AF;
  }
  to {
    box-shadow: 0 0 5px #6BD0DD, 0 0 10px #6BD0DD, 0 0 10px #6BD0DD, 0 0 20px #6BD0DD, 0 0 30px #6BD0DD, 0 0 40px #6BD0DD, 0 0 40px #6BD0DD;
  }
}

.cookie {
  width: 252px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 5px;
}
