.forgot-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.window {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 300px;
  background-color: rgba(143, 209, 209, 0.36);
  border-radius: 10px;
}

h1 {
  color: black;
  text-align: center;
}

p {
  color: black;
  font-size: 18px;
  text-align: center;
}

a {
  color: #1200A8;
  text-decoration: underline;
}

button {
  width: 235px;
  height: 40px;
  padding-top: 3px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  background: #86DEFF;
  border: none;
  border-radius: 38px;
  outline: none;
}
