<div class="backdrop">
  <div class="modal-box">
    <div class="content">
      <div class="flex-cols">
        <div class="left-col">
          <h4>{{ 'Game.Shared.GameOverModal.GameOver' | translate }}!</h4>
          <div class="stats">
            <table>
              <tbody>
                <tr>
                  <td>{{ 'Game.Shared.GameOverModal.Score' | translate }}:</td>
                  <td class="col-spacer"></td>
                  <td>{{ score.points }} {{ 'Game.Shared.GameOverModal.Points' | translate | lowercase }}</td>
                </tr>
                <tr>
                  <td>{{ 'Game.Shared.GameOverModal.Rank' | translate }}:</td>
                  <td class="col-spacer"></td>
                  <td>{{ getTranslation(score.rank) }}</td>
                </tr>
                <tr class="row-spacer"><!-- spacer --></tr>
                <tr>
                  <td colspan="3">
                    <p class="next-rank">
                      {{ score.messageLeft }}
                      <span>{{ score.nextRankPoints }}</span>
                      {{ score.messageRight }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="right-col"></div> -->
        <!-- placeholder for future charts -->
      </div>
      <div class="actions">
        <button class="hover-anim" routerLink="/hub">{{ 'Game.Shared.GameOverModal.ReturnToHub' | translate }}</button>
      </div>
    </div>
  </div>
</div>
