<div class="home-container">
  <div class="jumbo">
    <div class="plant">
      <!-- white plant img -->
    </div>
    <div class="jumbo-left">
      <h1>
        {{ "Home.H1" | translate }}
      </h1>
      <p class="description">
        <span class="title">
          {{ appTitle + " " }}
        </span>
        {{ "Home.H2" | translate }}
      </p>
      <div class="play-btn no-selection" (click)="onPlay()">
        <span class="arrow"></span>
        <p>{{ "Home.PlayButton" | translate }}</p>
      </div>
    </div>
  </div>

  <div class="jumbo-below">
    <div class="screenshot"></div>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
