.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding-top: 200px;
}

.jumbo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
}

.jumbo-left {
  transform: translate(-30%);
}

h1 {
  font-size: 48px;
}

.description {
  width: 585px;
  height: 230px;
  font-size: 27px;
  text-align: justify;

  mix-blend-mode: normal;
}

.play-btn {
  display: flex;
  width: 282px;
  height: 81px;
  font-size: 32px;
  background: radial-gradient(112.77% 487.58% at 86.62% 50%, #7BC579 0%, #DBE987 46.88%, #5DA700 100%);
}

.play-btn .arrow {
  width: 24%;
  height: 100%;
  background-image: url('../../assets/icons/arrow.svg');
  background-repeat: no-repeat;
}

.play-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  color: #000000;
}

.plant {
  position: absolute;
  width: 903px;
  height: 620px;
  background-image: url('../../assets/images/white-pot-plant.png');
  background-size: contain;
  transform: translate(17%, -9%);
}

.jumbo-below {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 200px;

  mix-blend-mode: normal;
}

.screenshot {
  width: 1000px;
  height: 523px;
  background-image: url('../../assets/images/home-screenshot-board.png');
  border-radius: 8px;
}

.footer {
  position: relative;
  width: 100vw;
  margin-top: 550px;
}
