<div class="home-container">
  <div class="jumbo">
    <div class="jumbo-left">
      <h1>
        Sign up and play!
      </h1>
      <p class="description">
        TITLE is a free-to-play implementation of a kickstarter-funded card game Herbaceous. Become a herbalist in a solitaire variant of the game or check back soon for a full multiplayer experience!
      </p>
      <div class="play-btn">
        <span class="arrow"></span>
        <p>Play Now</p>
      </div>
    </div>
    <div class="plant">
      <!-- white plant img -->
    </div>
  </div>

  <div class="screenshot">
    <!-- screenshot -->
  </div>
</div>
