<div class="pot-container">
  <div
    class="pot-img"
    [style.background-image]="'url(' + pot.graphicsUrl + ')'"
    [ngClass]="{'selected': pot.isSelected}"></div>
  <span class="herbs" [ngClass]="{'herbs-empty': !pot.herbs.length}">
    <app-card
      class="herb"
      *ngFor="let herb of pot.herbs"
      [ngClass]="{'herb-pair': pot.potName == 'Small Pots'}"
      [card]="herb"
      [isInPot]="true"
    ></app-card>
  </span>
  <p
    class="pot-name"
    [ngClass]="{'pot-name-blue': i == 0, 'pot-name-green': i == 1, 'pot-name-brown': i == 2, 'pot-name-pink': i == 3 }"
    >
    {{ getTranslation(pot.potName.toUpperCase()) }}</p>
</div>
