.pot-img {
  position: relative;
  z-index: 10;
  width: 210px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 5px;
}

.selected {
  -webkit-animation: selection-glow 1s ease-in-out infinite alternate;
  animation: selection-glow 1s ease-in-out infinite alternate;

  -moz-animation: selection-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes selection-glow {
  from {
    box-shadow: 0 0 5px #068826, 0 0 5px #068826, 0 0 10px #06884B, 0 0 10px #06884B, 0 0 20px #06884B, 0 0 20px #068872, 0 0 30px #068872;
  }
  to {
    box-shadow: 0 0 5px #109C66, 0 0 10px #109C66, 0 0 10px #108C9C, 0 0 20px #108C9C, 0 0 30px #108C9C, 0 0 40px #108C9C, 0 0 40px #108C9C;
  }
}

.pot-container {
  position: relative;
  display: inline-block;
}

.pot-name {
  position: absolute;
  left: 50%;
  width: max-content;
  color: #FFFFFF;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.075em;
  text-shadow: 1px 1px 0 #000000;
  transform: translate(-50%, 0);
}

.pot-name-blue {
  color: #1C6CE6;
}

.pot-name-purple {
  color: #B11CE6;
}

.pot-name-black {
  color: #070707;
}

.pot-name-green {
  color: #1B8E08;
}

.herbs {
  position: absolute;
  top: -19%;
  left: 2.5%;
  width: 95%;
  height: 100%;
}

.herbs-empty {
  border: 2px dashed aliceblue;
  border-radius: 5px;
}

.herb {
  position: absolute;
  top: -3px;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.herb:hover {
  transform: translate(0px, -25px);
}

.herb:nth-child(1) {
  left: 0;
}
.herb:nth-child(2) {
  left: 1.5em;
}
.herb:nth-child(3) {
  left: 3.0em;
}
.herb:nth-child(4) {
  left: 4.5em;
}
.herb:nth-child(5) {
  left: 6.0em;
}
.herb:nth-child(6) {
  left: 7.5em;
}
.herb:nth-child(7) {
  left: 9.0em;
}
.herb:nth-child(8) {
  left: 10.5em;
}
