<div class="pot-container">
  <img
    class="pot-img"
    [style.background-image]="'url(' + pot.graphicsUrl + ')'"
    [ngClass]="{'selected': pot.isSelected}">
  <span class="herbs" [ngClass]="{'herbs-empty': !pot.herbs.length}">
    <app-card
      class="herb"
      *ngFor="let herb of pot.herbs"
      [card]="herb"
      [isInPot]="true"
    ></app-card>
  </span>
  <p
    class="pot-name"
    [ngClass]="{'pot-name-blue': i == 0, 'pot-name-purple': i == 1, 'pot-name-black': i == 2, 'pot-name-green': i == 3 }"
    >
    {{ pot.potName.toUpperCase() }}</p>
</div>
