.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 460px;
  overflow: hidden;
  color: #C7C7C7;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 14.06%, rgba(0, 0, 0, 0.541455) 41.67%, #000000 100%);
}

.box {
  position: relative;
  top: 43px;
  min-width: 15%;
}

.title p {
  display: inline-block;
  font-size: 32px;
  transform: translate(6%, -25%);

  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.strip {
  display: inline-block;
  width: 5px;
  height: 44px;
  background: rgba(255, 255, 255, 0.6);
}

.content ul {
  margin-top: 10px;
  margin-left: -20px;
  font-size: 18px;
  list-style: none;
}

.content li {
  padding: 5px 0;
}

.content a {
  color: #C7C7C7;
  text-decoration: none;
  cursor: pointer;
}

.content a:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.63),
  0 0 10px rgba(255, 255, 255, 0.63),
  0 0 15px rgba(255, 255, 255, 0.63),
  0 0 20px rgb(4, 182, 158),
  0 0 30px rgb(4, 182, 158),
  0 0 40px rgb(4, 182, 158),
  0 0 55px rgb(4, 182, 158),
  0 0 75px rgb(4, 182, 158);
}

.github {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 179px;
  height: 40px;
  margin-top: 5px;
}

.github-btn {
  width: 179px;
  height: 40px;
  background-image: url('../../../assets/icons/github.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.mail-line {
  margin-bottom: -20px;
}

.mail-icon {
  margin-right: 10px;
}

.mail-text {
  margin: 0 0 0;
  transform: translate(10%, -105%);
}

.contact-form-container input {
  width: -webkit-fill-available;
  padding: 0 10px;
  margin-bottom: 8px;
  margin-left: -2px;
  line-height: 32px;
  border: none;
  border-radius: 8px;
}

.contact-form-container textarea {
  width: -webkit-fill-available;
  padding: 5px 10px;
  border-radius: 8px;
  resize: none;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.24),
  0 0 10px rgba(255, 255, 255, 0.24),
  0 0 15px rgba(255, 255, 255, 0.24),
  0 0 20px rgba(4, 182, 158, 0.24),
  0 0 30px rgba(4, 182, 158, 0.24),
  0 0 40px rgba(4, 182, 158, 0.24),
  0 0 55px rgba(4, 182, 158, 0.24),
  0 0 75px rgba(4, 182, 158, 0.24);
  outline: none;
}

.contact-form-container ::placeholder {
  color: #00000050;
  font-style: italic;
  opacity: 1;
}

.send-btn {
  width: -webkit-fill-available;
  color: #5C5C5C;
  font-size: 22px;
  line-height: 32px;
  border: none;
  border-radius: 8px;
}

.send-btn:focus {
  outline: none;
}

.hover-anim {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #000000;
  font-weight: normal;
  vertical-align: middle;
  background: #9DAF97;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color;
  transition-property: color;
}

.ng-valid .hover-anim:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  color: #5C5C5C;
  content: '';
  background: linear-gradient(90deg, #2ED4DE 0%, #4EECA0 100%);
  border-radius: 8px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hover-anim:hover,
.hover-anim:focus,
.hover-anim:active {
  color: #000000;
}

.ng-valid .hover-anim:hover:before,
.ng-valid .hover-anim:focus:before,
.ng-valid .hover-anim:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
