<div class="footer">
  <div class="box">
    <div class="title">
      <div class="strip"></div>
      <p>{{ 'Footer.QuickLinks' | translate | uppercase }}:</p>
    </div>
    <div class="content">
      <ul>
        <li><a routerLink="/home">{{ 'Footer.Home' | translate }}</a></li>
        <li><a (click)="onLogin()">{{ 'Footer.SignIn' | translate }}</a></li>
        <li>
          <div class="github">
            <a href="https://github.com/sskorka/herbs-game" target="_blank" class="github-btn"></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="box">
    <div class="title">
      <span class="strip"></span>
      <p>{{ 'Footer.FollowMe' | translate | uppercase }}:</p>
    </div>
    <div class="content">
      <ul>
        <li (click)="comingSoon()"><a>Facebook</a></li>
        <li (click)="comingSoon()"><a>LinkedIn</a></li>
        <li (click)="comingSoon()"><a>Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="box">
    <div class="title">
      <span class="strip"></span>
      <p>{{ 'Footer.Contact' | translate | uppercase }}:</p>
    </div>
    <div class="content">
      <ul>
        <li class="mail-line">
          <a href="mailto:{{ email }}">
            <fa-icon [icon]="faEnvelope" class="mail-icon"></fa-icon>
            <p class="mail-text">{{ email }}</p>
          </a>
        </li>
        <li>
          <div class="contact-form-container">
            <p>{{ 'Footer.OrUseThisForm' | translate }}:</p>
            <form (ngSubmit)="onContactFormSubmit(f)" #f="ngForm">
              <input type="email" name="email" placeholder="E-mail" autocomplete="off" (input)="onContactFormInput()" ngModel required email>
              <br>
              <textarea name="message" placeholder="{{ 'Footer.Message' | translate}}" rows="5" cols="25" autocomplete="off" (input)="onContactFormInput()" ngModel required maxlength="800"></textarea>
              <br>
              <button type="submit" class="send-btn hover-anim" [disabled]="!f.valid">{{ 'Footer.Send' | translate }}!</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
