button:disabled {
  background-color: gray;
}

.col-xs-12 span {
  color: white;
}

.garden {
  min-height: 260px;
  min-width: 180px;
}

.choosable {
  outline: thick double rgb(184, 214, 12);
  outline-offset: -3px;
}

.endangered {
  outline: thick double rgb(212, 117, 8);
  outline-offset: -3px;
}

.will-die {
  outline: thick double rgb(236, 4, 4);
  outline-offset: -3px;
}

.must-draw {
  outline: thick double rgb(200, 3, 69);
  outline-offset: -3px;
}

.cookie-default {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.cookie-awarded {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
