.bg {
  position: absolute;
  z-index: -100;
  width: 100vw;
  min-height: -webkit-fill-available;
  background-image: url('../../../assets/images/singleplayer-bg.jpg');
  background-repeat: repeat;
  background-position: -15px -240px;
  background-size: cover;
  filter: blur(8px);
}

.fallback-color {
  position: absolute;
  z-index: -101;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.modal-box {
  position: absolute;
  z-index: 50;
}

.component-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.game-container {
  position: relative;
  top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.button-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110%;
  font-size: 18px;
}

.button-panel label {
  color: #B7B7B7;
  letter-spacing: -0.045em;
}

.button-panel button {
  width: 160px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  outline: none;
}

.button-panel-left {
  display: flex;
  align-items: center;
}

.button-panel-left label {
  margin-left: 5px;
}

.button-panel-left button {
  margin-left: 40px;
}

.button-panel-right {
  display: flex;
  justify-content: space-between;
  width: 520px;
}

.cookie-btn {
  width: 245px !important;
  font-size: 16px;
  background-image: url('../../../assets/images/cookie.png');
  background-repeat: repeat;
}

.cookie-unawarded {
  filter: grayscale(100%);

  -webkit-filter: grayscale(100%);
}

.cookie-awarded {
  filter: grayscale(0);

  -webkit-filter: grayscale(0);
}

.current-action-info {
  margin-left: 15px;
  color: aliceblue;
}

.plant-btn {
  background-color: #67BC9E;
}

.draw-btn {
  background-color: #2E9D32;
}

.end-turn-btn {
  background-color: #A6BC67;
}

button:disabled {
  background-color: gray;
}

.must-draw {
  -webkit-animation: must-draw-glow 1s ease-in-out infinite alternate;
  animation: must-draw-glow 1s ease-in-out infinite alternate;

  -moz-animation: must-draw-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes must-draw-glow {
  from {
    box-shadow: 0 0 5px #AF337F, 0 0 5px #AF337F, 0 0 10px #AF337F, 0 0 10px #AF337F, 0 0 20px #AF337F, 0 0 20px #AF337F, 0 0 30px #AF337F;
  }
  to {
    box-shadow: 0 0 5px #AF3333, 0 0 10px #AF3333, 0 0 10px #AF3333, 0 0 20px #AF3333, 0 0 30px #AF3333, 0 0 40px #AF3333, 0 0 40px #AF3333;
  }
}

.garden-discardpile-deck {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.garden-discardpile-deck div:not(:first-child) {
  justify-content: center;
  padding: 0;
}

.garden {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 220px;
  padding: 0 2%;
  margin: 15px 0;
  border-radius: 15px;
}

.garden p:first-of-type {
  position: absolute;
  left: 50%;
  width: max-content;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.085em;
  text-shadow: 1px 1px 0 #000000;
  transform: translate(-50%, 425%);
}

.community-garden {
  width: 60%;
  color: #33A0AF;
  background: rgba(136, 178, 158, 0.4);
}

.discard-pile {
  width: 200px;
  color: #F127A0;
  background: linear-gradient(180deg, rgba(152, 30, 74, 0.38) 0%, rgba(152, 30, 74, 0.6) 0.01%, rgba(74, 17, 38, 0.55) 100%);
}

.deck {
  width: 200px;
  color: #348B32;
  background: rgba(22, 99, 49, 0.4);
}

.pots {
  justify-content: space-evenly;
  width: 100%;
  margin-top: 32px;
  background: rgba(89, 132, 124, 0.4);
}

.private-garden {
  width: 100%;
  color: #147EE0;
  background: rgba(2, 130, 114, 0.4);
}

.card-margin {
  margin-right: 15px;
}

.bg-credit {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  margin-left: 60px;
  color: rgb(120 120 120);
}

.bg-credit a {
  margin: 0 5px;
  color: rgb(120 120 120);
}

/* ANIMATIONS' CSS */

.community-choosable {
  -webkit-animation: community-glow 1s ease-in-out infinite alternate;
  animation: community-glow 1s ease-in-out infinite alternate;

  -moz-animation: community-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes community-glow {
  from {
    box-shadow: 0 0 5px #33A0AF, 0 0 5px #33A0AF, 0 0 10px #33A0AF, 0 0 20px #33A0AF, 0 0 30px #33A0AF, 0 0 40px #33A0AF, 0 0 50px #33A0AF;
  }
  to {
    box-shadow: 0 0 5px #6BD0DD, 0 0 10px #6BD0DD, 0 0 20px #6BD0DD, 0 0 30px #6BD0DD, 0 0 40px #6BD0DD, 0 0 50px #6BD0DD, 0 0 60px #6BD0DD;
  }
}

.endangered {
  -webkit-animation: community-endangered 1s ease-in-out infinite alternate;
  animation: community-endangered 1s ease-in-out infinite alternate;

  -moz-animation: community-endangered 1s ease-in-out infinite alternate;
}

@-webkit-keyframes community-endangered {
  from {
    box-shadow: 0 0 5px #BD6808, 0 0 5px #BD6808, 0 0 10px #BD6808, 0 0 20px #BD6808, 0 0 30px #BD6808, 0 0 40px #BD6808, 0 0 50px #BD6808;
  }
  to {
    box-shadow: 0 0 5px #DF9949, 0 0 10px #DF9949, 0 0 20px #DF9949, 0 0 30px #DF9949, 0 0 40px #DF9949, 0 0 50px #DF9949, 0 0 60px #DF9949;
  }
}

.will-die {
  -webkit-animation: community-will-die 1s ease-in-out infinite alternate;
  animation: community-will-die 1s ease-in-out infinite alternate;

  -moz-animation: community-will-die 1s ease-in-out infinite alternate;
}

@-webkit-keyframes community-will-die {
  from {
    box-shadow: 0 0 5px #C00707, 0 0 5px #C00707, 0 0 10px #C00707, 0 0 20px #C00707, 0 0 30px #C00707, 0 0 40px #C00707, 0 0 50px #C00707;
  }
  to {
    box-shadow: 0 0 5px #F13434, 0 0 10px #F13434, 0 0 20px #F13434, 0 0 30px #F13434, 0 0 40px #F13434, 0 0 50px #F13434, 0 0 60px #F13434;
  }
}

.discard-choosable {
  -webkit-animation: discard-glow 1s ease-in-out infinite alternate;
  animation: discard-glow 1s ease-in-out infinite alternate;

  -moz-animation: discard-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes discard-glow {
  from {
    box-shadow: 0 0 5px #92143E, 0 0 5px #92143E, 0 0 10px #92143E, 0 0 20px #92143E, 0 0 30px #92143E, 0 0 40px #92143E, 0 0 50px #92143E;
  }
  to {
    box-shadow: 0 0 5px #C51B54, 0 0 10px #C51B54, 0 0 20px #C51B54, 0 0 30px #C51B54, 0 0 40px #C51B54, 0 0 50px #C51B54, 0 0 60px #C51B54;
  }
}

.private-choosable {
  -webkit-animation: private-glow 1s ease-in-out infinite alternate;
  animation: private-glow 1s ease-in-out infinite alternate;

  -moz-animation: private-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes private-glow {
  from {
    box-shadow: 0 0 5px #04682D, 0 0 5px #04682D, 0 0 10px #04682D, 0 0 20px #04682D, 0 0 30px #04682D, 0 0 40px #04682D, 0 0 50px #04682D;
  }
  to {
    box-shadow: 0 0 5px #148F47, 0 0 10px #148F47, 0 0 20px #148F47, 0 0 30px #148F47, 0 0 40px #148F47, 0 0 50px #148F47, 0 0 60px #148F47;
  }
}

