<div class="bg"></div>
<div class="fallback-color"><!-- mandatory due to blur on the foreground --></div>

<app-modal class="modal-box" [title]="'Game.SP.IllegalMove' | translate" [message]="gameState.error" *ngIf="gameState.error" (closeEvent)="onHandleError()"></app-modal>
<app-game-over-modal class="modal-box" [score]="gameState.score" *ngIf="gameState.score.points"></app-game-over-modal>

<div class="component-container">
  <div class="game-container">
    <!-- BUTTON PANEL -->
    <div class="button-panel">
      <div class="button-panel-left">
        <button
          class="cookie-btn cookie-unawarded"
          [ngClass]="{'cookie-awarded': gameState.cookieAwarded}"
        >
            {{ (gameState.cookieAwarded ? 'Game.SP.CookieEarned' : 'Game.SP.CookieNotEarned') | translate }}
        </button>
        <span #info class="current-action-info"></span>
      </div>
      <div class="button-panel-right">
        <button class="plant-btn" [disabled]="gameState.currentAction != gameActions.NewTurn" (click)="onPot()">{{ 'Game.SP.Buttons.PlantInPot' | translate }}</button>
        <button class="draw-btn" [disabled]="gameState.currentAction != gameActions.NewTurn || !gameState.deck.length" (click)="onPlant()">{{ 'Game.SP.Buttons.DrawCard' | translate }}</button>
        <button class="end-turn-btn" [disabled]="gameState.currentAction != gameActions.PotAction" (click)="onEndAction()">{{ 'Game.SP.Buttons.EndTurn' | translate }}</button>
      </div>
    </div>

    <!-- BOARD -->
    <div class="garden-discardpile-deck">
      <div
        class="garden community-garden"
        id="community-garden"
        [ngClass]="{
          'community-choosable': gardensChoosable.community,
          'endangered': communityGardenInDanger,
          'will-die': communityGardenAboutToDie}"
        (click)="onGardenClick($event)"
      >
        <p>{{ 'Game.SP.CommunityGarden' | translate | uppercase }}</p>
        <app-card
        class="card-margin"
        *ngFor="let card of gameState.communityGarden"
        [card]="card"
        (click)="onCardClick(card)"
        ></app-card>
      </div>
      <div
        class="garden discard-pile"
        id="discard-pile"
        [ngClass]="{'discard-choosable': gardensChoosable.discard}"
        (click)="onGardenClick($event)"
      >
        <p>{{ 'Game.SP.DiscardPile' | translate | uppercase }}</p>
        <app-card [card]="gameState.discardPile[gameState.discardPile.length - 1]"></app-card>
      </div>
      <div class="garden deck">
        <p>{{ 'Game.SP.Deck' | translate | uppercase }}</p>
        <app-card
        [isDeck]="!anyGardenChoosable"
        [card]="gameState.deck[0]"
        [ngClass]="{'must-draw': gameState.currentAction == gameActions.PlantAction && !anyGardenChoosable}"
        (click)="onDeckClick()"
        ></app-card>
      </div>
    </div>
    <div class="garden pots">
      <app-pot
      class=""
      *ngFor="let pot of gameState.pots; let i = index"
      [pot]="pot"
      [i]="i"
      (click)="onCardClick(pot)"
      ></app-pot>
    </div>
    <div
      class="garden private-garden"
      id="private-garden"
      [ngClass]="{'private-choosable': gardensChoosable.private}"
      (click)="onGardenClick($event)"
    >
      <p>{{ 'Game.SP.PrivateGarden' | translate | uppercase }}</p>
      <app-card
      class="card-margin"
      *ngFor="let card of gameState.privateGarden"
      [card]="card"
      (click)="onCardClick(card)"
      ></app-card>
    </div>
    <span class="bg-credit">Photo by <a href="https://unsplash.com/@scottwebb?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Scott Webb</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
  </div>
</div>
